<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <sec:http pattern="/**" create-session="stateless" use-expressions="true" authentication-manager-ref="authenticationManager" auto-config="true" 
    access-decision-manager-ref="accessDecisionManager" >
    	<sec:intercept-url pattern="/**" access="isAuthenticated()"/>
    	<sec:form-login/>
    </sec:http>
    
    <sec:authentication-manager alias="authenticationManager" >
    	<sec:authentication-provider ref="userLDAPAuthenticationProvider"/>     
    </sec:authentication-manager>


    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased" >
        <constructor-arg>
            <list>
            	<bean class="org.springframework.security.web.access.expression.WebExpressionVoter" />
                <bean class="org.springframework.security.access.vote.RoleVoter" />
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
            </list>
        </constructor-arg>
    </bean>
    
    <bean id="userLDAPAuthenticationProvider" class="com.joyoudata.authService.service.security.UserLDAPAuthProviderService" />
     
    <bean id="passwordEncoder"  class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg name="strength" value="11" />
    </bean>
</beans>