<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">新建项目</h2>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-12">
    		<div class="panel panel-default">
    			<div class="panel-body">
    				<div class="row">
                    	<div class="col-lg-8">
                    		<!-- form 项目表单 -->
                        	<form role="form" name="projectForm" ng-controller="projectCtrl" ng-submit="submitProjectFrom()">
                        		<div class="form-group">
                                    <label>项目名称：</label>
                                    <input required class="form-control" name="projectName" ng-model="formData.projectName">
                                	<span ng-show="projectForm.projectName.$error.required">必填</span>
                                </div>
                                <div class="form-group">
                                    <label>项目联系人：</label>
                                    <input class="form-control" name="projectContact" ng-model="formData.projectContact">
                                </div>
                                <div class="form-group">
                                    <label>项目联系人电话：</label>
                                    <input class="form-control" name="projectTelphone" ng-model="formData.projectTelphone">
                                </div>
                                <div class="form-group">
                                    <label>项目联系人邮箱：</label>
                                    <input class="form-control" name="projectEmail" ng-model="formData.projectEmail">
                                </div><div class="form-group">
                                    <label>项目相关SI信息：</label>
                                    <input class="form-control" name="projectSi" ng-model="formData.projectSi">
                                </div>
                                <div class="form-group">
                                    <label>项目涉及产品：</label>
                                    <input class="form-control" name="projectProduction" ng-model="formData.projectProduction">
                                </div>
                                <div class="form-group">
                                    <label>产品涉及服务：</label>
                                    <input class="form-control" name="projectService" ng-model="formData.projectService">
                                </div>
                                <div class="form-group">
                                    <label>厂商联系人：</label>
                                    <input class="form-control" name="projectFirm" ng-model="formData.projectFirm">
                                </div>
                                <div class="form-group">
                                    <label>预计金额：</label>
                                    <input class="form-control" name="projectAmount" ng-model="formData.projectAmount">
                                </div>
                                <div class="form-group">
                                    <label>项目归属：</label>
                                    <select class="form-control" name="projectDepartment" ng-model="formData.projectDepartment">
                                    	 <option value="" disabled selected>--Department--</option>
                                         <option ng-repeat="department in projectDepartments" value="{{department}}">{{department.name}}</option>
                                     </select>
                                </div>
                                <div class="form-group">
                                    <label>项目进度：</label>
                                    <select class="form-control" name="projectSchedule" ng-model="formData.projectSchedule">
                                         <option value="" disabled selected>--Schedule--</option>
                                         	<option ng-repeat="schedule in projectSchedules" value="{{ schedule}}">{{schedule.scheduleName}}</option>
                                     </select>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg btn-block" >
            						<span class="glyphicon glyphicon-flash">Submit!</span> 
        						</button>    						
                        	</form>
                        	
                        </div>
                    </div>    	
    			</div>
    		</div>
    	</div>
    </div>
</div>
